#anaconda stuff
/lahma/bin

# Log
*.log

# Vim
*.sw[a-z]
*.un~
Session.vim
.netrwhist
*~

# Python
*.py[cod]

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# celery beat schedule file
celerybeat-schedule

# virtualenv
venv/
ENV/

# Rope project settings
.ropeproject

# lahmav
data/
config/lahma_settings.cfg
*.log
tests/arbitary code
tests/data
deps

# Eclipse
.project
.pydevproject
.metadata
.settings/

# vscode
.vscode
