{% extends "layout.html" %}

{% block content %}
<!--Section: Best features-->
<section>
    <div class="row">
        <!--First columnn-->
        <div class="col-md-4">
            <!--Card-->
            <div class="card wow fadeInUp">


                <!--Card content-->
                <div class="card-block text-xs-left">
                    <!--Title-->
                    <h4 class="card-title">About</h4>
                    <hr>
                    <!--Text-->
                    <p style="display: inline-block; text-align: left;">
                    Frontend developed by <a href="https://www.linkedin.com/in/georgedamaskos/">George Damaskos</a>
                    and Bart van Beusekom<br>
                    Backend developed by <a href="https://www.linkedin.com/in/georgedamaskos/">George Damaskos</a> and
                    Bart van Beusekom<br>
                    <a href="http://www.nki.nl/divisions/biochemistry/perrakis-a-group/">Anastassis Perrakis Group</a><br>
                    Funding by <a href="https://portal.west-life.eu/">West Life Project</a>
                    </p>
                    <!-- <a style="display: inline-block; vertical-align:top;" "href="https://portal.west-life.eu/" class="pull-right"><img style="height: 110px;" src="{{ url_for('static', filename='img/west-life-big.png') }}"></a> -->
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://portal.west-life.eu/"><img style="max-width: 50%; max-height: 50%;" src="{{ url_for('static', filename='img/west-life-big.png') }}"></a>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
            <!--Card-->
            <div class="card wow fadeInUp" data-wow-delay="0.2s">

                <!--Card content-->
                <div class="card-block text-xs-left">
                    <!--Title-->
                    <h4 class="card-title">Citing LAHMA</h4>
                    <hr>
                    <h5>To be published</h5>
                    <!--Text-->
<!--                    <h5>If you found LAHMA useful for your research, we would be obliged if you could cite the following publication:</h5>
                    <p class="card-text">
                    ProteinCCD: enabling the design of protein truncation constructs for expression and crystallization experiments
                    Wijnand T. M. Mooij, Eirini Mitsiki and Anastassis Perrakis Nucl. Acids Res. (2009) 37 (suppl 2):
                    W402-W405.<br>DOI: <a href="https://dx.doi.org/10.1093/nar/gkp256">10.1093/nar/gkp256</a>-->
                </div>
                <!--/.Card content-->
                
            </div>
            <!--/.Card-->
        </div>
        <!--First columnn-->

        <!--Second columnn-->
        <div class="col-md-8">

            <!--Card-->
            <div class="card wow fadeInUp" data-wow-delay="0.2s">
                <!--Card content-->
                <div class="card-block text-xs-left">
                    <!--Title-->
                    <h4 class="card-title">External software used</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text">
                    <a href="https://swift.cmbi.umcn.nl/gv/dssp/">DSSP</a> (Touw <i>et al.</i>, NAR 2015; Kabsch and
                    Sander, Biopolymers 1983)<br>
                    <a href="https://swift.cmbi.umcn.nl/gv/hssp/">HSSP</a> (Touw <i>et al.</i>, NAR 2015; Sander and
                    Schneider, Proteins 1991)<br>
                    </p>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
         
        </div>
        <!--Second columnn-->
    </div>
</section>
<!--/Section: Best features-->
{% endblock %}
