<!DOCTYPE html>
<html>
<meta charset="utf-8">

<head>
    <link rel="stylesheet" href="../static/css/litemol/LiteMol-plugin.css" type="text/css">

    <style>
        #app {
            position: relative;
            margin-top: 80px;
            margin-bottom: 400px;
            width: 640px;
            height: 480px;
        }    

        body {
            font-family: sans-serif;
            background: white;
        }
    </style>
</head>

<script>
//load the parameters with which the litemol page is called
var pdbid = '{{ pdbid }}';
var chain = '{{ chain }}';
var resnum = {{ resnum }};
</script>
<body>

<script src="../static/js/litemol/LiteMol-plugin.js"></script>

<div id="litemol"></div>

<script src="../static/js/litemol/litemol-redo.js"></script>

</body>
</html>
